<div id="content" th:fragment="content">
    <h2>Calendrier</h2>
    <div id="calendar" style="max-width: 950px; margin: 0 auto; font-size: 14px;"></div>

    <!-- Section pour afficher les factures d'une date cliquée -->
    <div id="invoice-details" style="margin-top: 50px; display: none; max-width: 650px; margin-left: auto; margin-right: auto;">
        <h3>Factures pour <span id="selected-date" style="color: #007bff;"></span> :</h3>
        <ul id="invoice-list" style="padding-left: 20px;"></ul>
    </div>
</div>
