<div id="content" th:fragment="content">
    <h2>Liste des Commandes</h2>

    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Nom de la commande</th>
                <th>Fournisseur</th>
                <th>Date de commande</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="commande : ${commandes}">
                <td th:text="${commande.name}">Nom</td>
                <td th:text="${commande.supplier}">Fournisseur</td>
                <td th:text="${commande.transaction_date}">Date</td>
                <td>
                    <span th:text="${commande.status}"
                          th:classappend=" 
                            ${commande.status == 'Submitted'} ? 'status-badge submitted' :
                            (${commande.status == 'Draft'} ? 'status-badge draft' :
                            (${commande.status == 'To Receive and Bill'} ? 'status-badge receive-bill' :
                            'status-badge default'))">
                    </span>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
